---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import yellowcar from '@/assets/yellowcar.png';
---
<Layout>
  <div id="home-container">
    <div id="words">
         
      <sl-animation name="bounce" easing="ease-in-out" duration="2000" play>
        <h1>Hi, I'm Christine.</h1>
      </sl-animation>
      <h3>I like to code.</h3>
      <h4> Check out my blog posts and projects :u</h4>
      
    </div>
    <div class="road">
      <div class="lines"></div>
      <Image src={yellowcar} alt="Yellow car" class:list={['yellow', 'car']} loading={'eager'}/>
      <Image src={yellowcar} alt="Blue car" class:list={['blue', 'car']} loading={'eager'}/>
    </div>
  </div>  
</Layout>

<style>

    /* @import 'https://fonts.googleapis.com/css?family=Bungee+Shade'; */
  h4 {
    font-weight: lighter;
  }
  #words {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    font-size: 30px;
  }
  *, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;

  }
  .road {
    position: relative;
  }
  .up {
    left: 100px;
    top: 0;
    opacity: .5;
    animation-name: wind;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: reverse;
  }

  .down {
    width: 200px;
    top: 50px; 
    animation-name: wind;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: reverse;
  }


  .road {
    height: 30%;
    background-color: dimgrey;
    border-top: 10px solid gray;
    boder-bottom: 10px solid gray;
    width: 100%;
  }

  .lines {
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%; 
  }

  strong {
    color: linear-gradient(rgb(180, 180, 180), rgb(156, 156, 156));
  }

  .car {
    display: block;
    max-width: 100%;
    width: 100px;
    height: auto;
    position: absolute;
    left: 0;
  }

  .yellow {
    top: -10px;
    animation: drive 4s infinite ease-in-out, jump 0.3s 1.2s ease; 
  }

  .blue {
    top: 45px;
    animation-name: drive;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }

  @keyframes drive {
    from { transform: translateX(-20vw) }
    to { transform: translateX(120vw) }
  }

  @keyframes wind {
    from { transform: translateX(-20vw) }
    to { transform: translateX(120vw) }
  }

  @keyframes jump {
    0%, 100% { top: 0px }
    50% { top: -30px; }
  }
  @media screen and (max-width: 767px) {
    .yellow {
      top: -30px;
      animation: drive 4s infinite ease-in-out, jump 0.3s 1.2s ease; 
    }

    .blue {
      top: 10px;
    }
  }
</style>
