---
---

<div id="FAQ">
    <h2>FAQ</h2>
    <h3>What is Hytech?</h3>
    <p>HyTech Racing is an award-winning student-run organization at the Georgia 
        Institute of Technology dedicated to furthering students'
        engineering experience through the rigorous design and development of 
        Formula SAE electric vehicles.
    </p>
    <p>
        Check out their {' '}
        <a href="https://hytechracing.gatech.edu/" target="_blank" rel="noopener noreferrer">
            website
        </a>!
    </p>
    <h3>What am I doing now?</h3>
    <p>I'm getting ready to compete at Michigan FSAE 25 for hytech racing.
        Follow me on LinkedIn for more updates!
    </p>
</div>

<style>

</style>