---
import star from '@/assets/star.svg';
---

<sl-tab-group>
    <sl-tab slot="nav" panel="general" label="Home tab" ><a href="/v2_aesteri/" class="tab">Home</a></sl-tab>
    <sl-tab slot="nav" panel="custom" label="About tab"><a href="/v2_aesteri/about" class="tab">About</a></sl-tab>
    <sl-tab slot="nav" panel="custom" label="Projects tab"><a href="/v2_aesteri/projects" class="tab">Projects</a></sl-tab>
    <sl-tab slot="nav" panel="advanced" label="Blog tab"><a href="/v2_aesteri/blog" class="tab">Blog</a></sl-tab>
</sl-tab-group>


<style>
    sl-tab-group {
        background-color: var(--sl-color-gray-100) ;
        /* --indicator-color: var(--sl-color-orange-100); 
        --track-color: var(--sl-color-orange-100); */
        --indicator-color: transparent;
        --track-color: transparent;
        
        
    }
    sl-tab::part(base)  {
        padding: 30px;
        font-size: large;
        font-family: 'Patrick Hand SC', sans-serif;
        transition: box-shadow 0.3s;
        outline: none;
        font-weight: bolder;
    }
    sl-tab::part(base):hover  {
        text-decoration: line-through;
        text-decoration-color:var(--sl-color-gray-700) ;
        
        }
    .tab{
        text-decoration: none;
        color: var(--sl-color-gray-700) ;
        transition: all 0.3s ease;
    }
    @media screen and (min-width: 1536px) {
        sl-tab::part(base){
            font-size: 1.5rem;
        }
    }
</style>
